.contenedor-alerta {
    display: inline-flex;
    padding: 36px 40px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.25em;
    z-index: 999;
    position: fixed;
    top: -100px; 
    left: 50%; 
    opacity: 0; 

  }
  
  .contenedor-alerta.mostrar {
    animation: slide-in-top 0.5s ease-out forwards; /* Aplica la animación de entrada */
  }
  
  /* Animación de salida: se desliza hacia arriba y se vuelve invisible */
  .contenedor-alerta.ocultar {
    animation: slide-out-top 0.5s ease-in forwards; /* Aplica la animación de salida */
  }
 
  @keyframes slide-in-top {
    from {
      top: -100px; 
      opacity: 0;
    }
    to {
      top: 20px; 
      opacity: 1; 
    }
  }
  
  
  @keyframes slide-out-top {
    from {
      top: 20px; 
      opacity: 1; 
    }
    to {
      top: -100px;
      opacity: 0;
    }
  }
.verde {
    background: var(--exito-500, #33BB71);
}

.rojo {
    background: var(--error-500, #f3a458);
}

.svg {
    width: 32px;
    height: 32px;
}

label {
    color: var(--sombra-100, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    z-index: 999;
}
@keyframes identifier {
    
}