<app-nav></app-nav>
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
          <div class="login">
            <div class="text-center">
              <h1 class="section-heading text-uppercase">Login</h1>
              <h3 class="section-subheading text-muted">Valida tus datos para ingresar al dash board.</h3>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <label for="correo">Correo:</label>
              <input type="email" id="correoElectronico" formControlName="correoElectronico" placeholder="Correo">
              <div *ngIf="loginForm.get('correoElectronico')?.invalid && loginForm.get('correoElectronico')?.touched">
                <div *ngIf="loginForm.get('correoElectronico')?.errors?.['required']" class="error-message">Correo
                  electrónico es requerido.</div>
                <div *ngIf="loginForm.get('correoElectronico')?.errors?.['email']" class="error-message">Correo
                  electrónico no válido.</div>
              </div>
              <label for="password">Contraseña:</label>
              <div class="password-wrapper">
                <input formControlName="contrasena" type="{{newPasswordView ?'text':'password'}}" placeholder="***********">
                <div class="{{newPasswordView ?'icon-eye-opened':'icon-eye-closed'}}" (click)="showHideNewPassword()"></div>
            </div>
              <!-- <input type="{{newPasswordLogin ?'text':'password'}}"
              placeholder="***********" name="Contraseña" formControlName="contrasena">-->
              <div *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched"
                class="error-message">
                Contraseña es requerida.
              </div>
              <button type="submit" class="btn btn-primary btn-block btn-large"
                [disabled]="loginForm.invalid">Ingresar</button>
              <div class="btn btn-primary btn-block btn-large" (click)="openModal()">Registro</div>
            </form>

            <button type="submit" class="btn btn-primary btn-block btn-large" (click)="openRecovery()">Recuperar
              contraseña</button>
              @if (this.loadingData()) {
                <div class="global-loader-backdrop">
                    <img src="/assets/icons/loading.svg" class="rotate-icon" alt="loading icon" />
                  </div>
                }
              @if (this.loadingData()===false) {}
          </div>
        </div>
      </div>

    </div>
  </div>
 <app-modal #RecoveryModal id="password-recovery-modal">
  <div class="modal-cont">
    <div class="icon"></div>
    <h3>Olvidaste tu Contraseña</h3>
    <p>Enviaremos un link de recuperación<br> a tu Correo Electrónico registrado:</p>
    <div class="input-label">
      <p class="blue-label">Correo Electrónico</p>
      <input [formControl]="email" class="ohinput" type="email" placeholder="correoelectrónico@empresa.com.co" fo>

    </div>
    <p>Sigue los pasos que encontrarás allí para reestablecer tu contraseña</p>
    <!-- (click)="showModal('confirm-recovery-password')" -->
    <button class="btn btn-primary btn-block btn-large" (click)="generateEmail(this.email)">Confirmar</button>
    @if (this.loadingData()) {
                <div class="global-loader-backdrop">
                    <img src="/assets/icons/loading.svg" class="rotate-icon" alt="loading icon" />
                  </div>
                }
              @if (this.loadingData()===false) {}
    <!-- <p>No recibí ningún correo,Reenviar Mensaje</p> -->
  </div>
</app-modal>
</section>
  <app-modal #AbriModal id="registre" [idDefault]="1">
    <div class="modal-cont">
        <div class="form-container">
            <h2 class="form-title">Registro</h2>
            <p>Registrate y obten acceso a tus productos y reservaciones</p>
            <form [formGroup]="registroForm" (ngSubmit)="save()">
                <div class="form-row">
                    <div>
                        <label for="documento">documento</label>
                        <input class="form-input" type="text" formControlName="documento" id="documento">
                        @for (validation of getValidatorError('documento'); track $index) {
                        <div class="warning" [ngClass]="{ 'green': validation.valid }">
                            {{ validation.message }}
                        </div>
                        }
                    </div>
                    <div>
                        <label for="primerNombre">primer Nombre</label>
                        <input class="form-input" type="text" id="primerNombre" formControlName="primerNombre">
                        @for (validation of getValidatorError('primerNombre'); track $index) {
                        <div class="warning" [ngClass]="{ 'green': validation.valid }">
                            {{ validation.message }}
                        </div>
                        }
                    </div>
                </div>
                <div class="form-row">
                    <div>
                        <label for="segundoNombre">Segundo nombre</label>
                        <input class="form-input" type="text" id="segundoNombre" formControlName="segundoNombre">
                    </div>
                    <div>
                        <label for="primerApellido">primer Apellido:</label>
                        <input class="form-input" type="text" id="primerApellido" formControlName="primerApellido">
                        @for (validation of getValidatorError('primerApellido'); track $index) {
                        <div class="warning" [ngClass]="{ 'green': validation.valid }">
                            {{ validation.message }}
                        </div>
                        }
                    </div>
                </div>
                <div class="form-row">
                  <div>
                      <label for="segApellido">Segundo Apellido</label>
                      <input class="form-input" type="text" id="segApellido" formControlName="segApellido">
                  </div>
                  <div>
                      <label for="experiencia">experiencia:</label>
                      <input class="form-input" type="text" id="experiencia" formControlName="experiencia">
                      @for (validation of getValidatorError('experiencia'); track $index) {
                      <div class="warning" [ngClass]="{ 'green': validation.valid }">
                          {{ validation.message }}
                      </div>
                      }
                  </div>
              </div>
              <div class="form-row">
                <div>
                    <label for="fechaNacimiento">Fecha Nacimiento</label>
                    <input type="date" formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento">
                    @for (validation of getValidatorError('fechaNacimiento'); track $index) {
                      <div class="warning" [ngClass]="{ 'green': validation.valid }">
                          {{ validation.message }}
                      </div>
                      }
                </div>
                <div>
                  <label for="telefono">telefono</label>
                  <input class="form-input" type="text" id="telefono" formControlName="telefono">
                  @for (validation of getValidatorError('telefono'); track $index) {
                    <div class="warning" [ngClass]="{ 'green': validation.valid }">
                        {{ validation.message }}
                    </div>
                    }
              </div>
            </div>
              <div class="form-row">
                <div>
                    <label for="correo">correo:</label>
                    <input class="form-input" type="text" id="correo" formControlName="correo">
                    @for (validation of getValidatorError('correo'); track $index) {
                    <div class="warning" [ngClass]="{ 'green': validation.valid }">
                        {{ validation.message }}
                    </div>
                    }
                </div>
                <div>
                  
                  <label for="password">Ingresa tu contraseña</label>
                  <div class="password-wrapper">
                    <input formControlName="password" type="{{newPasswordView ?'text':'password'}}" placeholder="***********">
                    <div class="{{newPasswordView ?'icon-eye-opened':'icon-eye-closed'}}" (click)="showHideNewPassword()"></div>
                </div>
                  @for (validation of getValidatorError('password'); track $index) {
                  <div class="warning" [ngClass]="{ 'green': validation.valid }">
                      {{ validation.message }}
                  </div>
                  }
              </div>
            </div>
            <button  class="btn btn-success">Confirmar</button>
            </form>
            @if (this.loadingData()) {
                <div class="global-loader-backdrop">
                    <img src="/assets/icons/loading.svg" class="rotate-icon" />
                </div>
                }
                @if (this.loadingData()===false) {}
        </div>
    </div>
  </app-modal>

@if (showResponseModal) {
  <div class="popup-alert">
      <app-alert></app-alert>
  </div>
  }
