<app-nav></app-nav>
<section class="page-section bg-light" id="portfolio">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">

          <div class="login">
            <div class="text-center">
              <h1 class="section-heading text-uppercase">Login</h1>
              <h3 class="section-subheading text-muted">Valida tus datos para ingresar al dash board.</h3>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <input type="email" id="correoElectronico" formControlName="correoElectronico" placeholder="Correo">
              <div *ngIf="loginForm.get('correoElectronico')?.invalid && loginForm.get('correoElectronico')?.touched">
                <div *ngIf="loginForm.get('correoElectronico')?.errors?.['required']" class="error-message">Correo
                  electrónico es requerido.</div>
                <div *ngIf="loginForm.get('correoElectronico')?.errors?.['email']" class="error-message">Correo
                  electrónico no válido.</div>
              </div>
              <input type="password" name="p" placeholder="Contraseña" formControlName="contrasena">
              <div *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched"
                class="error-message">
                Contraseña es requerida.
              </div>
              <div *ngIf="loginError" class="error-message">{{ loginError }}</div>

              <button type="submit" class="btn btn-primary btn-block btn-large"
                [disabled]="loginForm.invalid">Ingresar</button>
              <div class="btn btn-primary btn-block btn-large" (click)="openModal()">Registro</div>
            </form>

            <button type="submit" class="btn btn-primary btn-block btn-large" (click)="openRecovery()">Recuperar
              contraseña</button>
          </div>


        </div>
      </div>

    </div>
  </div>
  <div id="password-recovery-modal">
    <app-modal #RecoveryModal>
      <div class="modal-cont">
        <div class="icon"></div>
        <h3>Olvidaste tu Contraseña</h3>
        <p>Enviaremos un link de recuperación<br> a tu Correo Electrónico registrado:</p>
        <div class="input-label">
          <p class="blue-label">Correo Electrónico</p>
          <input [formControl]="email" class="ohinput" type="email" placeholder="correoelectrónico@empresa.com.co" fo>

        </div>
        <p>Sigue los pasos que encontrarás allí para reestablecer tu contraseña</p>
        <!-- (click)="showModal('confirm-recovery-password')" -->
        <button class="btn btn-primary btn-block btn-large" (click)="generateEmail(this.email)">Confirmar</button>
        <button class="btn btn-primary btn-block btn-large">validar contraseña</button>
        <p>No recibí ningún correo,Reenviar Mensaje</p>
      </div>
    </app-modal>
  </div>

  <app-modal #AbriModal id="registro-modal">
    <div class="main-cont">
      <div class="login">
        <h1>Registro</h1>
        <form [formGroup]="registroForm" (ngSubmit)="registre()">
          <input type="text" formControlName="documento" placeholder="123445" required />
          <div *ngIf="registroForm.get('documento')?.invalid && registroForm.get('documento')?.touched"
            class="error-message">Documento</div>
          <input type="text" formControlName="primerNombre" placeholder="Nombres" required />
          <div *ngIf="registroForm.get('primerNombre')?.invalid && registroForm.get('primerNombre')?.touched"
            class="error-message">Nombre es requerido.</div>

          <input type="text" formControlName="segundoNombre" placeholder="Segundo Nombre" />

          <input type="text" formControlName="primerApellido" placeholder="Apellidos" required />
          <div *ngIf="registroForm.get('primerApellido')?.invalid && registroForm.get('primerApellido')?.touched"
            class="error-message">Apellido es requerido.</div>

          <input type="text" formControlName="segApellido" placeholder="Segundo Apellido" />

          <input type="date" formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento" required />
          <div *ngIf="registroForm.get('fechaNacimiento')?.invalid && registroForm.get('fechaNacimiento')?.touched"
            class="error-message">Fecha de Nacimiento es requerida.</div>

          <input type="number" formControlName="experiencia" placeholder="Experiencia (años)" required />
          <div *ngIf="registroForm.get('experiencia')?.invalid && registroForm.get('experiencia')?.touched">
            <div *ngIf="registroForm.get('experiencia')?.errors?.['required']" class="error-message">Experiencia es
              requerida.</div>
            <div *ngIf="registroForm.get('experiencia')?.errors?.['min']" class="error-message">La experiencia no puede
              ser negativa.</div>
          </div>

          <input type="tel" formControlName="telefono" placeholder="Teléfono" required />
          <div *ngIf="registroForm.get('telefono')?.invalid && registroForm.get('telefono')?.touched"
            class="error-message">Teléfono es requerido.</div>

          <input type="email" formControlName="correo" placeholder="Correo" required />
          <div *ngIf="registroForm.get('correo')?.invalid && registroForm.get('correo')?.touched">
            <div *ngIf="registroForm.get('correo')?.errors?.['required']">Correo electrónico es requerido.</div>
            <div *ngIf="registroForm.get('correo')?.errors?.['email']">Correo electrónico no válido.</div>
          </div>

          <input type="password" formControlName="password" placeholder="Contraseña" required />
          <div *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched"
            class="error-message">Contraseña es requerida.</div>

          <div *ngIf="registroError" class="error-message">{{ registroError }}</div>

          <button class="btn btn-primary btn-block btn-large" type="submit"
            [disabled]="registroForm.invalid">Guardar</button>
        </form>

      </div>
    </div>
  </app-modal>



</section>