<div id="reservas">
    <div class="info-top">
        <app-card>
            <ng-template #body>
                <div class="box">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod hic tempore at architecto ducimus
                    quam, perferendis sunt ratione ab earum nam nostrum doloremque. Sed, culpa autem ipsam incidunt
                    facilis corrupti.
                </div>
            </ng-template>

        </app-card>

        <app-card>
            <ng-template #body>
                <div class="box">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod hic tempore at architecto ducimus
                    quam, perferendis sunt ratione ab earum nam nostrum doloremque. Sed, culpa autem ipsam incidunt
                    facilis corrupti.
                </div>
            </ng-template>

        </app-card>
    </div>

    <div>
        <!-- <button class="registre-buttom" (click)="openRegistre()">Registrar Vehiculo</button> -->
        <app-card>
            <ng-template #body>
                <div class="table">
                    @if(this.reservaFilter){
                    <app-table [tableProps]="tableProps">
                        <ng-template style="background-color: #E7E7E7;" #lastTH>
                            <th style="background-color: #E7E7E7;">Acciones</th>
                        </ng-template>
                        <ng-template #actions let-data>
                            <div class="items">
                                <button class="btn btn-info" (click)="editarReservacion(data)">
                                    <div class="icon">
                                    </div>
                                </button>
                                <button class="btn btn-danger" (click)="viewData(data)">
                                    <div class="icon-danger">
                                    </div>
                                </button>
                            </div>
                        </ng-template>
                    </app-table>
                    } @else {
                    <div class="div">no hay data</div>
                    }

                </div>

            </ng-template>

        </app-card>

    </div>
</div>