<div class="container-table" [ngClass]="tableProps?.class">
    <div class="box-filters">
        @if (tableProps.showFilter) {
        <div [ngClass]="{'search': true, 'focused': this.focusSearch == true}" style="position: relative;">
            <div class="search-icon" (click)="expandInputSearch()"></div>
            @if (showInputSearch) {
            <div>
                <input type="text" #searchInput (input)="setValueFilter($event)" (focus)="onInputFocus(true)">
            </div>
            <div class="close-icon" (click)="clearInput()"></div>
            }
        </div>
        }
    </div>

    @if (tableProps.data.length > 0) {
    <div class="data-table" #table>
        <table id="tableClientes">
            <tr>
                <ng-container [ngTemplateOutlet]="firstTH"></ng-container>
                @for (column of Object.keys(tableProps.data[0]); track $index) {
                <ng-container>
                    @if (columnsBox[$index].active) {
                    <th
                        [ngClass]="{'hidden': $index === 0 || columnsBox[$index].nombre === 'naturaleza' || columnsBox[$index].nombre === 'id' || columnsBox[$index].nombre === 'personaId' } ">
                        {{column}}
                    </th>
                    }@else {
                    <th>no hay data</th>
                    }
                </ng-container>
                }
                <ng-container [ngTemplateOutlet]="lastTH"></ng-container>
            </tr>
            @for (data of tableProps.data; track $index) {
            <tr>
                <ng-container [ngTemplateOutlet]="firstTD"></ng-container>
                @for (column of columnsBox; track $index) {
                <ng-container>
                    @if (columnsBox[$index].active) {
                    <td [ngClass]="{'hidden': $index === 0 || columnsBox[$index].nombre === 'naturaleza' || columnsBox[$index].nombre === 'id' || columnsBox[$index].nombre === 'personaId', 'red-text': Object.keys(data)[$index] === 'Valor' && data.naturaleza === 'DEBITO' || Object.values(data)[$index] === 'DEBITO'  || Object.values(data)[$index] === 'Denegado' || Object.values(data)[$index] === 'sin activar' ||  Object.values(data)[$index] === 'SIN PAGO' || Object.values(data)[$index] === 'Por completar' ||  Object.values(data)[$index] === 'INACTIVO'  
                    || Object.values(data)[$index] === 'Rechazado' ||  Object.values(data)[$index] === 'Por completar'
                        || Object.values(data)[$index] === 'CANCELADO'  || Object.values(data)[$index] === 'EN ERROR' || Object.values(data)[$index] === ' ' || Object.values(data)[$index] === 'Bloqueado',
                        'green-text': Object.values(data)[$index] === 'CREDITO' || Object.values(data)[$index] === 'PROCESADO' 
                        || Object.values(data)[$index] === 'Legalizado'   || Object.values(data)[$index] === 'Activo'  || Object.values(data)[$index] === 'activo' || Object.values(data)[$index] === 'ACTIVO'
                         || Object.values(data)[$index] === 'Completado' || Object.values(data)[$index] === 'PAGADO PROCESADO' ||  Object.keys(data)[$index] === 'Valor' && data.naturaleza === 'CREDITO',  
                        'yellow-text': Object.values(data)[$index] === 'Por Legalizar', 
                         }">
                        {{Object.values(data)[$index]}}
                    </td>
                    }
                </ng-container>
                }
                <ng-container [ngTemplateOutlet]="lastTD"></ng-container>
                @if (actions) {
                <!-- <td style="display: flex; justify-content: center;"> -->
                <td>
                    <ng-container [ngTemplateOutlet]="actions" [ngTemplateOutletContext]="{$implicit:data}">
                    </ng-container>
                </td>
                }
            </tr>

            }
        </table>
    </div>
    } @else {
    <div style="width: 100%; text-align: center;">No hay datos para mostrar</div>
    }
</div>

